# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

### Step 4. See the first 10 entries

In [3]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1

print(chipo.shape[0])

4622

In [5]:
# Solution 2

print(len(chipo))

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
print(len(chipo.columns))

5

### Step 7. Print the name of all the columns.

In [9]:
for col in chipo.columns :
    print(col)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [10]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [11]:
print(chipo.groupby(by = "item_name").sum().sort_values(by="quantity", ascending= False).head(3))

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506

### Step 10. For the most-ordered item, how many items were ordered?

In [13]:
items = chipo[["item_name", "quantity"]].groupby('item_name').agg(['count', 'sum']).sort_values(('quantity', 'sum'), ascending = False)

print(items)

                                      quantity
                                         count  sum
item_name
Chicken Bowl                               726  761
Chicken Burrito                            553  591
Chips and Guacamole                        479  506
Steak Burrito                              368  386
Canned Soft Drink                          301  351
Chips                                      211  230
Steak Bowl                                 211  221
Bottled Water                              162  211
Chips and Fresh Tomato Salsa               110  130
Canned Soda                                104  126
Chicken Salad Bowl                         110  123
Chicken Soft Tacos                         115  120
Side of Chips                              101  110
Veggie Burrito                              95   97
Barbacoa Burrito                            91   91
Veggie Bowl                                 85   87
Carnitas Bowl                               68   71
Barbacoa Bowl                               66   66
Carnitas Burrito                            59   60
Steak Soft Tacos                            55   56
6 Pack Soft Drink                           54   55
Chips and Tomatillo Red Chili Salsa         48   50
Chicken Crispy Tacos                        47   50
Chips and Tomatillo Green Chili Salsa       43   45
Carnitas Soft Tacos                         40   40
Steak Crispy Tacos                          35   36
Chips and Tomatillo-Green Chili Salsa       31   33
Steak Salad Bowl                            29   31
Nantucket Nectar                            27   29
Chips and Tomatillo-Red Chili Salsa         20   25
Barbacoa Soft Tacos                         25   25
Chips and Roasted Chili Corn Salsa          22   23
Izze                                        20   20
Veggie Salad Bowl                           18   18
Chips and Roasted Chili-Corn Salsa          18   18
Barbacoa Crispy Tacos                       11   12
Barbacoa Salad Bowl                         10   10
Chicken Salad                                9    9
Carnitas Crispy Tacos                        7    8
Veggie Soft Tacos                            7    8
Burrito                                      6    6
Veggie Salad                                 6    6
Carnitas Salad Bowl                          6    6
Bowl                                         2    4
Steak Salad                                  4    4
Salad                                        2    2
Crispy Tacos                                 2    2
Chips and Mild Fresh Tomato Salsa            1    1
Carnitas Salad                               1    1
Veggie Crispy Tacos                          1    1

### Step 11. What was the most ordered item in the choice_description column?

In [14]:
print(chipo.groupby(by="choice_description").sum().sort_values(by="quantity", ascending= False).head(10))

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     37550        40
[Lemonade]                                             31892        36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice,...     24432        36
[Coca Cola]                                            19282        32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream,...     29614        30

### Step 12. How many items were orderd in total?

In [15]:
print(chipo['quantity'].sum())

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [16]:
type(chipo['item_price'][0])

str

#### Step 13.b. Create a lambda function and change the type of item price

In [23]:
#chipo['item_price'].apply(lambda p : float(p.strip()[1:]))

chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)

C:\Users\Soubika\AppData\Local\Temp/ipykernel_18292/3513330112.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$','').astype(float)

#### Step 13.c. Check the item price type

In [24]:
type(chipo['item_price'][0])

numpy.float64

### Step 14. How much was the revenue for the period in the dataset?

In [30]:
a = chipo['quantity'] * chipo['item_price'].sum()
chipo['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [29]:
nb_order = chipo['order_id'].max
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [33]:
# Solution 1

In [32]:
# Solution 2
print(chipo.groupby("order_id").sum().mean())

quantity       2.711014
item_price    18.811429
dtype: float64

### Step 17. How many different items are sold?

In [ ]:
chipo["item_name"].nunique()